.cmm-body {
    height: 100vh;

}
.cmm-footer {
    margin-top: -50px; height: 50px;
}

.cmm-border-right {
    padding-right: 10px;
}

.cmm-content {
    border: 1px solid #000;
    min-height: 100%;
    margin-bottom: -50px;
    padding: 15px;
}