<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{c.webcdn.bootstrap_css_cdn}}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{c.static.css}}" crossorigin="anonymous">
    <script src="{{c.webcdn.jquery_cdn}}" crossorigin="anonymous"></script>
    <script src="{{c.webcdn.popper_cdn}}" crossorigin="anonymous"></script>
    <script src="{{c.webcdn.bootstrap_cdn}}" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>

</head>
<body class="d-flex flex-column" style="height: 100vh;">
<!-- Navigation Top Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:80px;">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <a class="navbar-brand" href="#">
            <span>
                {{c.app.app_title}}
                <small class="text-success">{{c.event.title}} Edition</small>
            </span>
            <small>{{c.app.version_string}}</small>
        </a>
      </div>
    </nav>

<!-- Page Content -->
    <div id="page-content" style="min-height: 100%; margin-bottom: -50px;">
    {% block content %}{% endblock %}
    </div>

<!-- Footer -->
    <footer class="py-4 bg-dark text-white-50 cmm-footer">
    <div class="container text-center">
      <small>CopyLeft &copy; 2019 by {{ c.app.author }}</small>
    </div>
  </footer>
</body>
</html>