{% extends "default/base.html" %}

{% block title %}
 {{c.app.page_title + " " + c.app.version_string + " - " + title}}
{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">name</th>
      <th scope="col">Mail</th>
      <th scope="col">Tags</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
{% for user in users: %}
<tr>
  <td>{{user.id.decode('utf-8')}}</td>
  <td>{{user.name.decode('utf-8')}}</td>
  <td>{{user.mail.decode('utf-8')}}</td>
  <td>{{user.tags.decode('utf-8')}}</td>
  <td>{{user.description.decode('utf-8')}}</td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
