{% extends "default/base.html" %}

{% block title %}
 {{c.app.page_title + " " + c.app.version_string + " - " + title}}
{% endblock %}

{% block content %}
<br><br>
<div class="jumbotron">
  <center>
    <img src="{{c.event.logo}}"><br>
    <h1 class="display-4">{{c.app.page_title}}</h1>
    <p class="lead">{{ _('Welcome to the matchmaking software of the Chaosmentors')}}</p>
  <hr class="my-4">
  <p>{{_('Demotext')}}
  </p>
  <a class="btn btn-primary btn-lg" href="/users/register" role="button">{{_('Register')}}</a></center>
</div>
{% endblock %}

{% block footer %}
<div class="corner-ribbon bottom-right sticky green shadow"><small>We do not Track!</small></div>
{% endblock %}