{% extends "default/base.html" %}

{% block title %}
 {{c.app.app_title + " " + c.app.version_string + " - " + title}}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="d-flex flex.row">
    <div class="d-flex flex.col" style="width:40%;">
      <div>
        <h4>Thank you for your Registration {% if name %}<span class="text-success">{{name}}{% endif %}</span></h4>
      We recorded the following information: <br>
      </div>

    </div>
    <div class="d-flex flex.col">
      <div>
        <h7>Link to your Account: <b>
          <a href="#">{{c.app.site_url + "/" + user_uuid}}</a>
        </b></h7>
        <br>
        Your E-Mail: {{mail}}
        <br>
        Your Selection:

      </div>

    </div>
  </div>


</div>
Shortly you will receive a E-Mail containing further Information and Instructions about how to proceed.
<!--
  {% if name %}
  <h1>thank you for registering {{name}}!</h1>
  {% endif %}
    {% if tags %}
  <h1>{{tags}}!</h1>
  {% endif %}
  <p>please check your mail ({{mail}}) to finish activation</p>
  <p>debug {{user_uuid}}</p>

  -->
{% endblock %}
