[main]
    xxx=yyy
[static]
    css = "/static/css/cmm_custom.css"
[event]
    title = "37C3"
    subtitle  = "Chaos Communication Congress"
    iteration = 37
[app]
    author = "Chaosmentors Assembly"
    app_title = "Chaosmentors Matchpoint"
    version_string = "v0.1"
    version_string_mayor = 0
    version_string_minor = 1
    site_url = "http://chaosmentors.org"
[webcdn]
    bootstrap_css_cdn = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    jquery_cdn = "https://code.jquery.com/jquery-3.3.1.slim.min.js"
    popper_cdn = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    bootstrap_cdn = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"

